/*#about {width:20%; background: #ACACAC;}*/
/*#projects {width:80%; margin: 10px auto;}
#tweets {width:80%; margin: 10px auto;}
*/
/* remove the background color for screen */
#screen {
		  width: 90%;
		  max-width: 900px;
		  min-width: 480px;
		  margin: 20px auto;
		  /*background: #FEF6F8;  */ /* Use this for testing*/
		  padding: 10px 10px 10px 0;
		}

#projects {
			width: 75%;
			border-bottom: 2px solid black;
		  }

#tweets {
	      width: 75%;
	    }

#about {
		 width: 25%;
		 margin-left: 74%;
		 position: fixed;
		 top: 5%;
		 background: #ACACAC;
		}

/*
h4#about {
	font-family: "Palatino Linotype", Palatino, serif;
	color:black;
	font-weight:normal;
	text-align:center;
	white-space:nowrap;
	}

p#about {
	font-family: "Palatino Linotype", Palatino, serif;
	font: 80%;
	color:white;
	text-align:left;
	white-space:normal;
}
*/

h2 {
	 font-size: 1.5em;
	 font-family: "Arial", Arial;
	 color:black;
	 text-align:right;
	 font-weight:bold;
	}

p {
	font-size: .9em;
  }

