h2 {
	font-family: "Palatino Linotype", Palatino, serif; 
	color:black; 
	text-align:right; 
	font-weight:bold;
	line-height:20%;
	}

h4 {
	font: 87%/270%; 
	font-family: "Palatino Linotype", Palatino, serif; 
	color:blue; 
	font-weight:normal;
	text-align:right;
	}