#screen {
		  width: 90%;
		  max-width: 900px;
		  min-width: 480px;
		  margin: 20px auto;
		  /*background: #FEF6F8;  */ /* Use this for testing*/
		  adding: 10px 10px 10px 0;
		}

#projects {
			width: 75%;
			border-bottom: 2px solid black;
		  }

#rants {
	      width: 75%;
	    }

#about {
		 width: 20%;
		 margin-left: 75%;
		 position: absolute;
		 top: 1em;
		 right: 1em;
		}

#footer {
		 font-size: .75em;
        }

h2 {
	 font-size: 1.5em;
	 font-family: "Arial", Arial;
	 color:black;
	 text-align:right;
	 font-weight:bold;
	}

p {
	font-size: .9em;
  }
p#about_links {
	font-size: .75em;
	text-align: right;
	margin-right: 5px;
}

.box {
   background: #acacac;
}
.box_top div {
   background: url(../images/tl.png) no-repeat top left;
}
.box_top {
   background: url(../images/tr.png) no-repeat top right;
}
.box_bottom div {
   background: url(../images/bl.png) no-repeat bottom left;
}
.box_bottom {
   background: url(../images/br.png) no-repeat bottom right;
}


.box_top div,
.box_top,
.box_bottom div,
.box_bottom {
   width: 100%;
   height: 20px;
   font-size: 1px;
}
/*.roundedcornr_content { margin: 0 30px; } */

.box_content{
	 color:white;
	 margin-left: 5px;
/*	 padding-left: 2px;
	 padding-right: 2px;*/
}

